*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: 'Inter', system-ui;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', system-ui;
  font-size: 16px;
  color: #000;
  background-color: #E7F6FF;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn-reset {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 40px auto;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px;
  border-bottom: 1px solid #EAEAEA;

  &__logo {
    display: flex;

    img {
      width: 40px;
      height: 40px;
      margin-right: 16px;
    }
  }

  &__title {
    font-size: 20px;
    line-height: 1.2;
  }

  &__subtitle {
    font-size: 14px;
    line-height: 1.2;
    color: #9D9D9D;
  }
}

.menu {
  display: flex;
  align-items: center;

  &__item {
    a {
      display: flex;
      align-items: center;
      transition: opacity .3s;

      &:hover,
      &:focus {
        opacity: .8;
      }
    }

    & + li {
      margin-left: 30px;
    }
  }

  &__price {
    font-size: 14px;
    color: #5C5C5C;
    margin-left: 10px;
  }
}

.content {
  padding: 40px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }

  &__search-block {
    border: 1px solid #F3F3F3;
    border-radius: 10px;
    padding: 0 15px;
    display: flex;

    input {
      border: 0;
      padding: 15px;
      font-size: 13px;
      color: #C4C4C4;
      outline: none;
      width: 200px;
    }

    img {
      margin-right: 4px;
    }
  }
}

.card__list{
  display: flex;
}


.drawer {
  position: absolute;
  right: 0;
  height: 100%;
  width: 420px;
  background-color: #fff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 30px;
  display: flex;
  flex-direction: column;

  &__overlay{
    display: none;
  }

  h2 {
    margin-bottom: 30px;
  }

  & > .removeBtn {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
  }

  &__overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
}

.item {
  flex: 1;
  overflow: auto;
  margin-bottom: 40px;
}

.cartItem {
  display: flex;
  border: 1px solid #F3F3F3;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;
  margin-bottom: 20px;

  &__inner {
    width: 150px;
    margin-right: auto;
  }

  &__img {
    width: 70px;
    height: 70px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 20px;
  }

  .removeBtn {
    opacity: 0.5;
    cursor: pointer;
    transition: opacity .15s ease-in-out;

    &:hover,
    &:focus {
      opacity: 1;
    }
  }

  p {
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 8px;
  }

  b {
    font-size: 17px;
  }

}

.cartTotalBlock {
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 20px;
  }

  div {
    flex: 1;
    height: 1px;
    border-bottom: 1px dashed #dfdfdf;
    position: relative;
    top: -4px;
    margin: 0 7px;
  }

  .greenButton {
    position: relative;

    &:hover,
    &:focus {
      img {
        transform: translateX(5px);
      }
    }

    img {
      position: absolute;
      right: 35px;
      top: 20px;
      transition: transform .2s ease-in-out;
    }
  }
}

.greenButton {
  width: 100%;
  text-align: center;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 600;
  color: #fff;
  padding: 18px;
  background: #9DD558;
  border-radius: 18px;
  transition: background .2s ease-in-out;

  &:hover,
  &:focus {
    background: lighten(#9DD558, 5%);
  }

  &:active {
    background: darken(#9DD558, 5%);
  }

}